@mixin flexRow() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex() {
  display: flex;
}
@mixin align() {
  align-items: center;
}
@mixin justify() {
  justify-content: space-between;
}
